{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Bill</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li disabled>
            <a class="nav-link disabled">Logged in as {{ user.username }}</a>
        </li>

       <li  >
        {% ifequal user.groups.all.0.name "client"%}
            <form class="form-inline" action="{% url 'search' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search a product" name="q" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
         {% endifequal %}
       </li>

        <div class="form-inline my-2 my-lg-0">

            {% ifequal user.groups.all.0.name "client"%}
                <a href="{% url 'cart' %}">
                    <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{ cartItems }}</p>
            {% endifequal %}
        </div>

         </ul>

        <form class="form-inline my-2 my-lg-0" action="#" method="POST">
            {% csrf_token %}
            <a class="btn btn-outline-danger my-2 my-sm-0 " href="{% url 'logout' %}">LogOut</a>
        </form>



  </div>
</nav>
