

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

{% ifequal user.groups.all.0.name "client"%}
      <ul class="nav list-group">

           <li>
                <a class="list-group-item" href="{% url 'store' %}">Store</a>
            </li>
            <li>
                <a class="list-group-item" href="{% url 'cart' %}">Panier</a>
            </li>
            <li>
                <a class="list-group-item" href="{% url 'commande' %}">Commandes</a>
            </li>
             <li>
                <a class="list-group-item" href="{% url 'facture' %}">Facture</a>
            </li>


    </ul>

 {% endifequal %}

{% ifequal user.groups.all.0.name "fournisseur"%}
      <ul class="nav list-group">
          <li>
                <a class="list-group-item" href="{% url 'category' %}">Category produit</a>
            </li>
           <li>
                <a class="list-group-item" href="{% url 'produit' %}">produit</a>
            </li>



    </ul>

 {% endifequal %}

{% ifequal user.groups.all.0.name "admin"%}
      <ul class="nav list-group">
          <li>
                <a class="list-group-item" href="{% url 'dashboard' %}">dashboard</a>
            </li>
           <li>
                <a class="list-group-item" href="{% url 'client-list' %}">client</a>
            </li>
          <li>
                <a class="list-group-item" href="{% url 'commande-list' %}">Commande</a>
            </li>
            <li>
                <a class="list-group-item" href="{% url 'fournisseur-list' %}">fournisseur</a>
            </li>
      </ul>

 {% endifequal %}



